html {
    height: 100%;
}

body {
    height: 100%;
}

.hello{
    color: red;
    margin-left: 2%;
    font-size: 25px;
}

.username{
    margin-left: 1%;
    font-size: 25px;
}

.scroll{
    height: 55%;
    overflow-y: auto;
}

.container{
    height: 100%;
}

.row{
    height: 100%;
}

.col{
    height: 100%;
}

.send_button{
    width: 25%;
}


.dots{
    background-color: transparent;
    border: none;
    border-radius: 10px;
    padding-bottom: 4px;


}

.dots:hover{
    background-color:lightgray;
}



